 
    body {
      margin: 0;
      height: 100vh; /* Alto de la ventana completa */
      display: flex;
      justify-content: center; /* Centra horizontalmente */
      align-items: center;     /* Centra verticalmente */
      background-color: #f0f0f0; /* Color de fondo opcional */
    }

    img {
      width: 300px; /* Aumentá el tamaño según necesites */
      max-width: 90%; /* Que no se pase del ancho de pantalla */
      height: auto;
    }
  